@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
:root {
  --1: #100e0e;
  --prime: #0071e4;
  --03: #b7b7b7;
  --light-grey: #f9f9f9;
  --05: #878787;
  --01: #e7e7e7;
  --06: #706e6e;
  --07: #585656;
  --09: #282626;
  --10: #dbdbdb;
  --light-prime: #2a93fd;
  --icon-ligt: #ccc;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
  margin: 0;
}

.container {
  max-width: 1242px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  padding: 4px 0;
}

.header_top_block_desktop {
  background: var(--light-grey);
  padding: 10px 0;
  display: none;
}

.header_top_block_desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_media_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header_option {
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
}

.header_span {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_span:hover {
  color: var(--prime);
}

.header_select {
  border: none;
  background-color: transparent;
  outline: none;
}
.header_select:hover {
  color: blue;
}

.header_middle_desktop_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_phone_text {
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
  text-align: right;
}

.header_middle_desktop_block {
  padding: 23px 0 16px;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header_num_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.header_num_block::before {
  content: "";
  background-image: url(../img/header_phone.svg);
  display: inline-block;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.header_num_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
}

.header_sale {
  padding: 2px 8px 2px 4px;
  background-color: #fdefbf;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_desktop_logo {
  cursor: pointer;
}

.header_sale::before {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(../img/fire.svg);
}

.header_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--1);
}
.header_link:hover {
  color: var(--prime);
  border-bottom: 2px solid var(--prime);
}

.header_middle_desktop {
  display: none;
}

.header_bottom_btn {
  padding: 12px 16px;
  background: var(--prime);
  border-radius: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header_bottom_desktop_input {
  padding: 16px 56px 16px 56px;
  border: 1px solid var(--03);
  border-radius: 8px;
  width: 594px;
}

.header_bottom_input_block {
  position: relative;
}

.header_bottom_svg_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom_input_block::before {
  content: "";
  background-image: url(../img/search.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.header_bottom_btn::before {
  content: "";
  background-image: url(../img/3dots.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.btn_num {
  border-radius: 32px;
  padding: 4px 12px;
  width: 34px;
  height: 32px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #46c609;
}

.header_bottom_btn_right {
  padding: 12px 31px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: #52d116;
  border-radius: 16px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}
.header_bottom_btn_right::before {
  content: "";
  background-image: url(../img/store.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.header_bottom_desktop_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headder_bottom_desktop {
  padding: 22px 0;
}

.headder_bottom_desktop {
  display: none;
}

.header_last_block {
  display: none;
  padding: 12px 0;
}

.header_last_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
}

.header_last_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_last_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header_last_text:hover {
  color: var(--prime);
}
.header_last_text:hover span {
  color: var(--prime);
}

.header_last_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header_last_btn {
  background-image: url(../img/header_last_bg.png);
  background-repeat: no-repeat;
  padding: 16px 22px 16px 60px;
  font-family: var(--font-family);
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  cursor: pointer;
}
.header_last_btn::after {
  content: "";
  background-image: url(../img/header_right.btn.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.header_last_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_mb_logo_block {
  cursor: pointer;
}

.header_menu_btn {
  background-image: url(../img/header_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
}

.header_mb_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header_mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header_mobile_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet_input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header_mb_logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet_num_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet_num {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.tablet_input {
  border: none;
  outline: none;
  padding: 5px;
  width: 225px;
}
.tablet_input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.tablet_input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.tablet_input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.tablet_input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.tablet_input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.header_mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tablet_num_block {
  display: none;
}

.tablet_input_block {
  display: none;
}

.header_phone_text {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header_mobile_list {
    display: none;
  }
  .tablet_num_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_mb_logo_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tablet_input_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tablet_search_icon {
  margin-bottom: -6px;
}

@media screen and (min-width: 1200px) {
  .header_top_block_desktop {
    display: block;
  }
  .header_middle_desktop {
    display: block;
  }
  .headder_bottom_desktop {
    display: block;
  }
  .header_last_block {
    display: block;
  }
  .header_mobile_block {
    display: none;
  }
}
.hero {
  padding-top: 16px;
  padding-bottom: 164px;
  text-align: center;
  background-color: #d0eafc;
  overflow: hidden;
}

.hero_title {
  margin-bottom: 9px;
}

.hero_span {
  font-weight: 400;
  font-size: 20px;
  color: #1e3240;
  margin-right: 5px;
}

.hero_text {
  font-weight: 400;
  font-size: 32px;
  color: #1e3240;
  margin-bottom: 8px;
}

.hero_btn_block {
  text-align: center;
  margin-bottom: 16px;
  position: relative;
}

.hero_btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  background-color: var(--prime);
  border: none;
  padding: 10px 40px;
}

.hero_img_block {
  position: relative;
}

.hero_img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 173px;
  height: 207px;
}

.hero_btn_block::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/hero_right.svg);
  position: absolute;
  top: 18%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  right: 16px;
}

.hero_btn_block::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../img/hero_left.svg);
  position: absolute;
  top: 18%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  left: -16px;
}

.hero_text_tablet {
  display: none;
}

.hero_text_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero_text_mobile {
    display: none;
  }
  .hero_text_tablet {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_title {
    margin-bottom: 6px;
  }
  .hero_span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #1e3240;
    margin-right: 20px;
  }
  .hero_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: #1e3240;
    margin-bottom: 16px;
  }
  .hero_btn {
    padding: 19px 40px;
  }
  .hero_img {
    width: 269px;
    height: 324px;
  }
  .hero_btn_block {
    margin-bottom: 31px;
  }
  .hero_btn_block::before {
    width: 40px;
    height: 40px;
  }
  .hero_btn_block::after {
    width: 40px;
    height: 40px;
  }
  .hero {
    padding: 40px 0 243px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_img {
    width: 398px;
    height: 479px;
    position: absolute;
  }
  .hero_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    position: relative;
  }
  .hero_block::before {
    content: "";
    background-image: url(../img/hero_left.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
  }
  .hero_block::after {
    content: "";
    background-image: url(../img/hero_right.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
  }
  .hero {
    padding-bottom: 0;
  }
  .hero_text_tablet {
    display: none;
  }
  .hero_text_desktop {
    display: block;
  }
  .hero_btn_block::before {
    display: none;
  }
  .hero_btn_block::after {
    display: none;
  }
  .hero_img_block {
    width: 398px;
    height: 479px;
    top: 99px;
  }
  .hero_text {
    text-align: start;
    font-weight: 400;
    font-size: 48px;
  }
  .hero_span {
    font-weight: 400;
    font-size: 32px;
  }
  .hero_btn_block {
    text-align: start;
  }
}
.purchasing {
  padding: 16px 0 24px;
}

.purchasing_title {
  font-weight: 500;
  font-size: 24px;
  color: var(--1);
  text-align: center;
  margin-bottom: 16px;
}

.purchasing_recent_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--prime);
}

.purchasing_recent_block {
  margin-bottom: 24px;
}

.purchasing_span {
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
}

.purchasing_star_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.purchasing_star_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.purchasing_star_img {
  width: 120px;
  height: 24px;
}

.purchasing_top_star_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchasing_item {
  padding: 16px;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 8px;
}

.purchasing_img_block {
  margin-bottom: 8px;
}

.purchasing_img {
  width: 140px;
  height: 152px;
}

.purchasing_inner_title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--1);
  width: 227px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.guarantee_text {
  font-weight: 500;
  font-size: 14px;
  color: var(--06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.guarantee_text:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: #52d116;
}

.guarantee_duration {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: var(--06);
}

.guarantee_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.purchasing_inner_btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  padding: 8px;
  background: var(--prime);
  border-radius: 8px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 143px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.purchasing_inner_btn:hover {
  background-color: #52d116;
}
.purchasing_inner_btn:hover::after {
  background-image: url(../../img/tick_store.svg);
  background-repeat: no-repeat;
}

.purchasing_inner_btn::after {
  content: "";
  background-image: url(../img/purchasing_buy.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.purchasing_cheaper {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: var(--06);
}
.purchasing_cheaper:hover {
  color: var(--prime);
}

.purchasing_bottom_text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previous_price {
  display: none;
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
  color: var(--05);
}

.purchasing_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.purchasing_desktop_title {
  display: none;
}

.purchasing_current_price {
  display: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--1);
}

.purchasing_inner_btn_desktop {
  display: none;
  cursor: pointer;
}

.previous_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purchasing_btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .previous_price {
    display: block;
  }
  .purchasing_title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    color: var(--1);
  }
  .purchasing_inner_btn {
    padding: 8px 10px;
    width: 140px;
    white-space: nowrap;
    margin-bottom: 0;
    cursor: pointer;
  }
  .purchasing_list {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .purchasing_inner_btn {
    width: 100%;
  }
  .previous_price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through;
    color: var(--05);
  }
  .purchasing_desktop_title {
    display: block;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 9px;
  }
  .purchasing_inner_btn {
    display: none;
  }
  .purchasing_inner_title {
    display: none;
  }
  .purchasing_img {
    width: 266px;
    height: 288px;
  }
  .guarantee_text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--06);
  }
  .guarantee_duration {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: var(--06);
  }
  .guarantee_block {
    margin-bottom: 4px;
  }
  .purchasing_current_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .purchasing_inner_btn_desktop {
    padding: 17px 56px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: var(--prime);
    border-radius: 8px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  .purchasing_inner_btn_desktop:hover {
    background-color: #6fd91c;
  }
  .purchasing_inner_btn_desktop:hover::before {
    background-image: url(../../img/tick_store.svg);
    background-repeat: no-repeat;
  }
  .purchasing_inner_btn_desktop::before {
    content: "";
    background-image: url(../img/purchasing_buy.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .purchasing_cheaper {
    font-weight: 500;
    font-size: 16px;
  }
  .purchasing_title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--1);
  }
}
.iphone_types {
  padding: 16px 0;
}

.iphone_types_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
  margin-bottom: 8px;
}

.iphone_types_text {
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
}

@media screen and (min-width: 768px) {
  .iphone_types {
    padding: 32px 0;
  }
}
.ads_banner_block {
  padding: 24px 29px 24px 106px;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.ads_banner_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 4px;
}

.ads_banner_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}

.ads_banner_btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: var(--prime);
  border-radius: 8px;
  border: none;
  padding: 10px 40px;
}

.ads_banner_block::before {
  content: "";
  background-image: url(../img/ads_banner_img.svg);
  width: 65px;
  height: 163px;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .ads_banner_block::before {
    width: 110px;
    height: 276px;
    left: 40px;
    top: -17px;
  }
  .ads_banner_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ads_banner_block {
    padding: 40px 0;
  }
  .ads_banner_title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
  }
  .ads_banner_text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
  }
  .ads_banner_btn {
    padding: 19px 40px;
    font-weight: 500;
    font-size: 16px;
    width: 160px;
    height: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .ads_banner_block::before {
    width: 246px;
    height: 619px;
    left: 120px;
    top: -17px;
  }
  .ads_banner_flex {
    padding: 0 0 0 222px;
  }
  .ads_banner_block {
    padding: 84px 0;
  }
  .ads_banner_title {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 16px;
  }
  .ads_banner_text {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .ads_banner_btn {
    padding: 19px 40px;
    font-weight: 500;
    font-size: 16px;
  }
}
.news {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--prime);
}

.news_block {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .news_block {
    margin-bottom: 24px;
  }
}
.advantages_nav {
  padding: 24px 0;
}

.advantages_item {
  padding: 20px;
  background: var(--light-grey);
  border-radius: 16px;
  margin-bottom: 8px;
}

.advantages_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
  text-align: center;
  margin-bottom: 16px;
}

.advantages_inner_title {
  font-weight: 700;
  font-size: 20px;
  color: var(--1);
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.advantages_inner_title::before {
  content: "";
  background-image: url(../../img/advantages-for_sale.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.advantages_delivery::before {
  content: "";
  background-image: url(../../img/advantages_delivery.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.advantages_buy:before {
  content: "";
  background-image: url(../../img/advantages_pay.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.advantages_credit::before {
  content: "";
  background-image: url(../../img/advantages_credit.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.advantages_inner_text {
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
}

.advantages_btn_tablet {
  display: none;
}

.desktop_item {
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages_inner_title::before {
    display: none;
  }
  .advantages_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages_item::before {
    content: "";
    background-image: url(../../img/advantages_credit.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    white-space: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .advantages_item:nth-child(1):before {
    background-image: url(../../img/advantages-for_sale.svg);
  }
  .advantages_item:nth-child(2):before {
    background-image: url(../../img/advantages_delivery.svg);
  }
  .advantages_item:nth-child(3):before {
    background-image: url(../../img/advantages_tablet.svg);
  }
  .advantages_item:nth-child(5):before {
    background-image: url(../../img/advantages_guarantee.svg);
  }
  .advantages_inner_title {
    font-weight: 700;
    font-size: 24px;
    color: var(--1);
  }
  .advantages_inner_text {
    font-weight: 400;
    font-size: 16px;
    color: var(--07);
  }
  .advantages_btn_tablet {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: var(--prime);
    padding: 16px 60px;
    border: 2px solid var(--prime);
    color: var(--prime);
    text-align: center;
    border-radius: 8px;
    width: 212px;
    height: 56px;
  }
  .advantages_item {
    padding: 24px 71px 24px 24px;
  }
  .advantages_title {
    font-weight: 700;
    font-size: 32px;
    color: var(--1);
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 40px 0;
  }
  .advantages_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  .advantages_inner_title {
    text-align: center;
    display: block;
    margin-bottom: 8px;
  }
  .advantages_inner_text {
    margin-bottom: 99px;
    font-weight: 400;
    font-size: 16px;
    width: 212px;
  }
  .advantages_item {
    display: block;
    text-align: center;
    padding: 24px 8px 32px;
  }
  .advantages_btn_tablet {
    margin-left: auto;
    margin-right: auto;
  }
  .advantages_item::before {
    width: 160px;
    height: 160px;
  }
  .advantages_item:nth-child(5):before {
    background-image: url(../img/advantages_guarantee.svg);
  }
  .advantages_item:nth-child(3):before {
    background-image: url(../img/advantages_pay.svg);
  }
  .advantages_item:nth-child(2):before {
    background-image: url(../img/advantages_delivery.svg);
  }
  .advantages_item:nth-child(1):before {
    background-image: url(../img/advantages-for_sale.svg);
  }
  .advantages_item:nth-child(4) {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe685), to(#f6f6f6));
    background: linear-gradient(180deg, #ffe685 0%, #f6f6f6 100%);
  }
  .advantages_item:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, from(#7de9ff), to(#f2f2f2));
    background: linear-gradient(180deg, #7de9ff 0%, #f2f2f2 100%);
  }
  .advantages_item:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, from(#e685ff), to(#f2f2f2));
    background: linear-gradient(180deg, #e685ff 0%, #f2f2f2 100%);
  }
  .advantages_item:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, from(#fe94a6), to(#f2f2f2));
    background: linear-gradient(180deg, #fe94a6 0%, #f2f2f2 100%);
  }
  .desktop_item {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#adffc1), to(#f2f2f2));
    background: linear-gradient(180deg, #adffc1 0%, #f2f2f2 100%);
  }
  .advantages_sec {
    margin-bottom: 32px;
  }
  .advantages_third {
    margin-bottom: 90px;
  }
}
.follow {
  background: var(--light-grey);
}

.follow_block {
  padding: 24px 16px;
}

.follow_title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
}

.follow_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
  margin-bottom: 8px;
}

.follow_btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(96deg, #f7355d 0%, #9747ff 100%);
  border-radius: 8px;
  padding: 8px 70px 8px 16px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.follow_span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  display: block;
}

.follow_input {
  padding: 17px 170px 13px 24px;
  width: 100%;
  border: 1px solid var(--10);
  border-radius: 8px;
  margin-bottom: 8px;
}
.follow_input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  color: var(--05);
  -webkit-box-align: center;
          align-items: center;
}
.follow_input::-moz-placeholder {
  font-weight: 400;
  font-size: 24px;
  color: var(--05);
  align-items: center;
}
.follow_input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  color: var(--05);
  -ms-flex-align: center;
      align-items: center;
}
.follow_input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  color: var(--05);
  -ms-flex-align: center;
      align-items: center;
}
.follow_input::placeholder {
  font-weight: 400;
  font-size: 24px;
  color: var(--05);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow_btn_subscribe {
  font-weight: 500;
  font-size: 16px;
  color: var(--07);
  background: var(--01);
  border-radius: 8px;
  width: 100%;
  padding: 18px 97px;
  border: none;
}

.follow_btn_text {
  display: none;
}

@media screen and (min-width: 768px) {
  .follow_img_block::before {
    content: "";
    background-image: url(../../img/follow_img.png);
    width: 224px;
    height: 173px;
    display: inline-block;
    background-repeat: no-repeat;
  }
  .follow_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .follow_title {
    font-weight: 700;
    font-size: 32px;
    color: var(--1);
    margin-bottom: 8px;
  }
  .follow_text {
    font-weight: 400;
    font-size: 16px;
    color: var(--07);
    margin-bottom: 16px;
  }
  .follow_btn {
    border-radius: 16px;
    width: 279px;
    height: 63px;
    margin-bottom: 16px;
  }
  .follow_span {
    font-weight: 500;
    font-size: 13px;
  }
  .follow_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .follow_btn_subscribe {
    border-radius: 8px;
    width: 160px;
    height: 56px;
    padding: 18px 33px;
  }
  .follow_input {
    width: 246px;
    height: 56px;
    margin-bottom: 0;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .follow_btn {
    display: none;
  }
  .follow_btn_desktop {
    padding: 16px 32px 32px 32px;
    background: linear-gradient(96deg, #f7355d 0%, #9747ff 100%);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-bottom: 4px;
    border-radius: 8px;
  }
  .follow_span {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
  }
  .follow_btn_text {
    display: block;
  }
  .follow_span {
    display: block;
  }
  .follow_form {
    padding-bottom: 32px;
  }
  .follow_title {
    width: 421px;
    font-weight: 700;
    font-size: 48px;
    color: var(--1);
    margin-bottom: 8px;
  }
  .follow_text {
    font-weight: 400;
    font-size: 24px;
    color: var(--07);
    margin-bottom: 25px;
    width: 454px;
  }
  .follow_img_block::before {
    background-image: url(../img/follow_img_desktop.png);
    width: 484px;
    height: 371px;
  }
}
.footer {
  padding-top: 16px;
}

.footer_img {
  width: 26px;
  height: 30px;
}

.first_block_text {
  font-weight: 400;
  font-size: 14px;
  color: var(--05);
  margin-bottom: 4px;
}

.first_block_sec_text {
  font-weight: 400;
  font-size: 14px;
  color: var(--05);
  margin-bottom: 4px;
}

.footer_logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_logo_text {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: var(--03);
  padding: 0 60px;
}

.footer_first_block {
  margin-bottom: 24px;
}

.footer_item {
  margin-bottom: 8px;
}

.footer_link {
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer_list {
  margin-bottom: 24px;
}

.footer_apple_link {
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer_apple_item {
  margin-bottom: 8px;
}

.footer_apple_list {
  margin-bottom: 16px;
}

.footer_phone_num {
  font-weight: 500;
  font-size: 24px;
  color: var(--1);
  margin-bottom: 4px;
}

.footer_call_tablet {
  display: none;
}

.footer_call {
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
}

.footer_consulting {
  font-weight: 400;
  font-size: 12px;
  color: var(--06);
  margin-bottom: 4px;
}

.footer_call {
  margin-bottom: 16px;
}

.footer_media_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.footer_location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--1);
  display: block;
}
.footer_location:nth-child(1) {
  margin-bottom: 8px;
}

.footer_location_block {
  margin-bottom: 24px;
}

.footer_cotegory {
  -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 4px 0;
}

.footer_cotegory_span {
  font-weight: 400;
  font-size: 13px;
  color: var(--09);
}

.footer_svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer_cotegory_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_cotegory_link {
  color: var(--09);
}

.footer_cotegory_span:hover {
  color: #52d116;
}

.footer_cotegory_link:hover {
  color: var(--prime);
}
.footer_cotegory_link:hover span {
  color: var(--prime);
}

.footer_cotegory_span {
  color: var(--06);
}

.footer_gray:hover {
  color: #52d116;
}
.footer_gray:hover span {
  color: #52d116;
}

.footer_first_tablet {
  display: none;
}

.consulting_desktop {
  display: none;
}

.media_desktop_list {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer_logo_text {
    display: none;
  }
  .footer_first_tablet {
    display: block;
    padding: 0;
    width: 341px;
    text-align: start;
  }
  .footer_logo_block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer_img {
    width: 39px;
    height: 45px;
  }
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_apple_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
  .footer_last_block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_call {
    display: none;
  }
  .footer_call_tablet {
    display: block;
  }
  .footer_last_block_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
  }
  .footer_phone_num {
    margin-bottom: 20px;
  }
  .footer_media_list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer_location_block {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 32px;
  }
  .footer_cotegory_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .footer_cotegory {
    padding: 8px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer_cotegory {
    display: none;
  }
  .footer_first_block {
    display: block;
  }
  .footer_logo_block {
    display: block;
  }
  .footer_img {
    margin-bottom: 27px;
  }
  .first_block_text {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
  }
  .first_block_sec_text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_first_tablet {
    font-weight: 400;
    font-size: 14px;
    color: var(--03);
    width: 273px;
  }
  .footer_list {
    display: block;
  }
  .footer_item {
    margin-bottom: 16px;
  }
  .footer_apple_list {
    display: block;
  }
  .footer_apple_item {
    margin-bottom: 16px;
  }
  .footer_last_block_flex {
    display: block;
  }
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_consulting {
    display: none;
  }
  .consulting_desktop {
    display: block;
    font-weight: 400;
    font-size: 14px;
  }
  .footer_phone_num {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 11px;
  }
  .footer_media_list {
    display: none;
  }
  .media_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .media_desktop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .footer_call {
    margin-bottom: 0;
  }
  .media_desktop_list {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 51px;
    padding-bottom: 41px;
  }
}/*# sourceMappingURL=style.css.map */