.footer {
    padding-top: 16px;
}

.footer_img {
    width: 26px;
    height: 30px;
}

.first_block_text {
    font-weight: 400;
    font-size: 14px;
    color: var(--05);
    margin-bottom: 4px;
}

.first_block_sec_text {
    font-weight: 400;
    font-size: 14px;
    color: var(--05);
    margin-bottom: 4px;
}

.footer_logo_block {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer_logo_text {
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    color: var(--03);
    padding: 0 60px;
}

.footer_first_block {
    margin-bottom: 24px;
}

.footer_item {
    margin-bottom: 8px;
}

.footer_link {
    font-weight: 400;
    font-size: 16px;
    color: var(--1);
}

.footer_list {
    margin-bottom: 24px;
}

.footer_apple_link {
    font-weight: 400;
    font-size: 16px;
    color: var(--1);
}

.footer_apple_item {
    margin-bottom: 8px;
}

.footer_apple_list {
    margin-bottom: 16px;
}

.footer_phone_num {
    font-weight: 500;
    font-size: 24px;
    color: var(--1);
    margin-bottom: 4px;
}

.footer_call_tablet {
    display: none;
}

.footer_call {
    font-weight: 500;
    font-size: 16px;
    color: var(--prime);
}

.footer_consulting {
    font-weight: 400;
    font-size: 12px;
    color: var(--06);
    margin-bottom: 4px;
}

.footer_call {
    margin-bottom: 16px;
}

.footer_media_list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.footer_location {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--1);
    display: block;

    &:nth-child(1) {
        margin-bottom: 8px;
    }
}

.footer_location_block {
    margin-bottom: 24px;
}

.footer_cotegory {
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 4px 0;
}

.footer_cotegory_span {
    font-weight: 400;
    font-size: 13px;
    color: var(--09);
}

.footer_svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer_cotegory_list {
    display: flex;
    justify-content: space-between;
}

.footer_cotegory_link {
    color: var(--09);

}

.footer_cotegory_span {
    &:hover {
        color: #52d116;
    }
}

.footer_cotegory_link:hover {
    color: var(--prime);

    span {
        color: var(--prime);
    }
}

.footer_cotegory_span {
    color: var(--06);
}

.footer_gray:hover {
    color: #52d116;

    span {
        color: #52d116;
    }
}

.footer_first_tablet {
    display: none;
}

.consulting_desktop {
    display: none;
}
.media_desktop_list{
    display: none;
}

@media screen and (min-width:768px) {
    .footer_logo_text {
        display: none;
    }

    .footer_first_tablet {
        display: block;
        padding: 0;
        width: 341px;
        text-align: start;
    }

    .footer_logo_block {
        justify-content: start;
    }

    .footer_img {
        width: 39px;
        height: 45px;
    }

    .footer_list {
        display: flex;
        gap: 16px;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer_apple_list {
        display: flex;
        gap: 16px;
    }

    .footer_last_block {
        // display: flex;
        justify-content: space-between;
    }

    .footer_call {
        display: none;
    }

    .footer_call_tablet {
        display: block;
    }

    .footer_last_block_flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 33px;
    }

    .footer_phone_num {
        margin-bottom: 20px;
    }

    .footer_media_list {
        align-items: start;
    }

    .footer_location_block {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 32px;
    }

    .footer_cotegory_link {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer_cotegory {
        padding: 8px 0;
    }
}

@media screen and (min-width:1200px) {
    .footer_cotegory {
        display: none;
    }

    .footer_first_block {
        display: block;
    }

    .footer_logo_block {
        display: block;
    }

    .footer_img {
        margin-bottom: 27px;
    }

    .first_block_text {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
    }

    .first_block_sec_text {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 16px;
    }

    .footer_first_tablet {
        font-weight: 400;
        font-size: 14px;
        color: var(--03);
        width: 273px;
    }

    .footer_list {
        display: block;
    }

    .footer_item {
        margin-bottom: 16px;
    }

    .footer_apple_list {
        display: block;
    }

    .footer_apple_item {
        margin-bottom: 16px;
    }

    .footer_last_block_flex {
        display: block;
    }

    .footer_block {
        display: flex;
        justify-content: space-between;
    }

    .footer_consulting {
        display: none;
    }

    .consulting_desktop {
        display: block;
        font-weight: 400;
        font-size: 14px;
    }

    .footer_phone_num {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 11px;
    }
    .footer_media_list{
        display: none;
    }
    .media_desktop_list{
        display: flex
    }
.media_desktop-list{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer_call{
    margin-bottom: 0;
}
.media_desktop_list{
    margin-bottom: 0;
}
.footer{
    padding-top: 51px;
    padding-bottom: 41px;
}
}